.boxes-container {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(4, 1fr);
  margin: 50px 30px 0 0;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  opacity: 0.7;
}

.box {
  border-radius: 30px;
  height: 275px;
  overflow: hidden;
  text-align: center;
  transition: all 500ms ease-in-out;
  width: 220px;
}

.skeleton-text:last-child {
  margin-bottom: 0;
  width: 80%;
}

@keyframes skeleton-loading {

  0% {
    background-color: hsl(288, 28%, 78%);
  }

  100% {
    background-color: hsl(200, 28%, 95%);
  }
}
