.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  opacity: 0.7;
}

.skeleton-album-container {
  display: flex;
}

.all-songs {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr;
}

.song-wrapper {
  align-items: center;
  display: flex;
}

.skeleton-audio {
  background-color: white;
  border-radius: 30px;
  height: 60px;
  margin-left: 150px;
  overflow: hidden;
  text-align: center;
  transition: all 500ms ease-in-out;
  width: 450px;
}

.skeleton-details {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 17px;
}

.skeleton-song-name {
  font-family: 15px;
  opacity: 0;
}

.text-container {
  height: 13px;
}

.skeleton-text {
  border-radius: 0.125rem;
  height: 10rem;
  margin-bottom: 0.25rem;
  width: 100%;
}

.skeleton-text:last-child {
  margin-bottom: 0;
  width: 80%;
}

@keyframes skeleton-loading {

  0% {
    background-color: hsl(288, 28%, 78%);
  }

  100% {
    background-color: hsl(200, 28%, 95%);
  }
}
